.totais {
    background: brown;
    padding: 11px;
    border-radius: 7px;
    color: white;
    box-shadow: 1px 1px 6px red;
    height: 34vh;
    text-align: right;
}

.inventario {
    position: absolute;
    left: 50%;
    top: 0;
    background: darkgray;
    width: 49%;
}

.i-inventario {
    display: flex;
    flex-wrap: wrap;
    height: 60.5vh;
    overflow: auto;
    position: relative;
    left: 0;
    top: 0px;
}


@keyframes menuOptionsOut {
    0% {
        opacity: 1;
        left: 57%;
    }

    100% {
        opacity: 0;
        left: 68%;
        display: none;
    }
}

@keyframes menuOptions {
    0% {
        opacity: 0;
        left: 110%;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
        left: 96%;
    }
}

.inventarioOp {
    animation: menuOptions .9s cubic-bezier(0.42, 0, 0, 0.71);
    display: flex;
    border-width: 10px;
    border-style: outset;
    left: 96%;
    position: relative;
    width: 85%;
    background: rgb(151, 187, 10);
    transition: 2s;

}

.inventarioOption {
    animation: menuOptions .9s cubic-bezier(0.42, 0, 0, 0.71);
    display: flex;
    border-width: 10px;
    border-style: outset;
    left: 96%;
    position: relative;
    width: 85%;
    background: rgb(254, 254, 255);
    transition: 2s;
}

.inventarioOp.out,
.inventarioOption.out {
    animation: menuOptionsOut 0.9s cubic-bezier(0.42, 0, 0, 0.71);
    transition-delay: 1.2s;
}

.inventarioOption ul {
    display: flex;
    flex-wrap: wrap;
    height: 86vh;
    width: 900px;
    overflow-y: auto;
    position: relative;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.inventarioOp ul {
    display: flex;
    flex-wrap: wrap;
    height: 86vh;
    width: 900px;
    overflow-y: auto;
    position: relative;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.inventario div button,
.inventarioOption div button {
    margin: 5px;
    font-size: 40px;

    box-shadow: 1px 1px 1px black;
}

.inventario li button {
    height: 100px;
    width: 160px;
}

.inventario ul button {
    margin: 0 9px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px black;
}

.grupo-produto {
    background: brown;
    padding: 5px;
    border-width: 3px;
    position: absolute;
    border-style: none;
    width: 17%;
    top: 2px;
    left: 30%;
    max-height: 60vh;
    overflow-y: scroll;

}


.grupo-produto button {
    margin: 5px 3px;
    width: 118px;
    height: 50px;
}

.GPX0 {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    text-shadow: 0px 0px 1px;

    color: white;
}

.GPX1 {
    background-image: linear-gradient(rgb(30, 255, 0), rgb(41, 248, 0), rgb(114, 253, 0));
    text-shadow: 0px 0px 1px;

    color: black;
}

.GPX50 {
    background-image: linear-gradient(rgb(0, 153, 255), rgb(4, 86, 141), rgb(0, 194, 253));
    text-shadow: 0px 0px 1px;

    color: white;
}

.GPX31 {
    background-image: linear-gradient(rgb(140, 0, 255), rgb(40, 4, 141));
    text-shadow: 0px 0px 1px;

    color: white;
}

.GPX7106 {
    background-image: linear-gradient(rgb(255, 187, 0), rgba(0, 110, 255, 0.486), rgba(86, 16, 216, 0.459), rgb(0, 17, 255), rgba(0, 17, 255, 0));
    font-size: 13px;
}

.GPX10 {
    background-image: linear-gradient(rgb(158, 157, 157), rgb(183, 170, 170), rgb(101, 15, 15), rgb(48, 25, 25), rgb(0, 0, 0));
    background-color: gainsboro;
    text-shadow: 1px 1px 3px black;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.GPX7106 {
    background-color: royalblue;
    color: white;
}

.GPX12 {
    background-image: linear-gradient(goldenrod, gold, goldenrod);
    color: #000;
    text-shadow: 1px 1px 2px;
    box-shadow: 1px 1px 4px black;
}

.GPX13 {
    background-color: #d16309;
    background-image: linear-gradient(#d16309, #d13109, #d16309);
}

.GPX6615 {
    background-color: #073d70;
    background-image: linear-gradient(#073d70, #125594, #073d70);
    color: white;
}

.GPX600 {
    background-color: #2e2650;
    color: white;
}



table {
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;


}

table tbody {
    background-color: rgba(126, 113, 113, 0.24);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    line-height: 9px;
}

.titulo-tb td {
    background-color: white;
    color: black;
    font-weight: bold;

}

.server-status-table {
    background: white;
    margin: -16px auto;
    width: 300px;
}

.ndd {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.linhas-tb .idd {
    width: 50px;
    color: white;
    font-weight: bold;
    /* background-color: #221f1d;*/
}

.menu-itens-catal tr {
    height: 24px;
}

.linhas-tb .ndd {
    /* width: 419px; */
    font-weight: bold;
    font-size: 23px;
    /* background-color: #2e1e1e; */
    text-align: left;
    text-indent: 8px;

}

.janela-alerta-comanda-pn {
    width: 95%;
    height: 90%;
    background-color: transparent;
    position: absolute;
    z-index: 999;
}

.janela-alerta-comanda-pn ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: flex-end;
    height: 100%;
}

.janela-alerta-comanda-pn ul button {
    background: radial-gradient(black, black, transparent);
}

.janela-alerta-comanda-pn ul button:hover {
    background-color: black;
}

.janela-alerta-comanda-pn ul button:active {
    background-color: brown;
}

.A {
    background-color: rgb(216, 104, 29);
}

.B {
    background-color: #3120cf;
}

.C {
    background-color: #b80d0d;
    color: red;
}

.D {
    background-color: rgb(98, 0, 179);
}

.E {
    background-color: #09b9b1;
}

.F {
    background-color: gray;
}

.G {
    background-color: #0383d8;
}

.H {
    background-color: #498b49;
}

.I {
    background-color: black;
}

em {

    position: relative;

}

.A,
.B,
.C,
.D,
.E,
.F,
.G,
.H,
.I {
    text-shadow: 1px 1px 1px black;
}

::-webkit-scrollbar-button {
    background-color: rgb(5, 5, 5);
    /* cor de fundo das setas */
    /* cor das setas */
    height: 0px;
}

/* seta para cima */
ul::-webkit-scrollbar-button:start:decrement {
    content: "▲";
}

/* seta para baixo */
ul::-webkit-scrollbar-button:end:increment {

    content: "▼";
}

ul::-webkit-scrollbar {
    height: 15px;
    width: px;
    left: 5px;
    position: relative;
}

ul::-webkit-scrollbar-thumb {
    background-image: linear-gradient(black, black);
    border-radius: 6px;

}

ul::-webkit-scrollbar-track {
    background-image: linear-gradient(rgba(255, 240, 240, 0), rgba(255, 255, 255, 0));
}

ul {
    /* height: 92.8%;*/
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: red black;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .151s;
    transition-delay: .151s;
    margin: 0 8px;
    box-shadow: 1px 1px 5px black;
    text-transform: uppercase;
}

.inventarioOp button,
.inventarioOption button {
    width: 15vh;
    height: 15vh;
}

.inventarioOp button:hover,
.inventarioOption button:hover {

    text-shadow: 1px 1px 1px red;
    background-color: brown;

}

.buttonX {
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.controlea {
    position: absolute;
    top: 62vh;
    background: brown;
    left: 35%;
    height: 205px;
    width: 13%;
    padding: 9px;
}

.controleb {
    position: absolute;
    top: 69vh;
    background: brown;
    left: 50.5vw;
    height: 18vh;
    width: 49vw;
    border-width: 2px;
    border-style: double;
}

.g2 {
    width: 13vw;
}

select {
    width: 100%;
    /* padding: 3px 0; */
    height: 23px;
    background: black;
    color: white;
    text-decoration: none;

}
.status-mesa-comanda select{
    height: 10vh;
    font-size: 20px;
}
option {
    
    font-size: 3.2em;
    background-color: black;
    color: white;
}

.itemNormal {
    color: white;
    letter-spacing: 5px;
    height: 30px;
    text-transform: uppercaseobs;

}

.obs {
    color: #dd6700;
    text-transform: capitalize;
    letter-spacing: 0px;
    height: 10px;

}

.itemNormalB {
    color: white;
}

.ReactModal__Content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 33, 33);
    overflow: hidden;

}

.ReactModal__Overlay {
    overflow: hidden;

}

.ReactModal__Content h1 {
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    position: relative;
    left: -150px;

}

.comandar {
    position: relative;
    background: brown;
    height: 100vh;
    width: 100vw;
    top: 0.5vh;
    left: 0;
}

.cm-comanda-pn {
    height: 89%;
    width: 30%;
    overflow: auto;
    background: beige;
}

.operadores {
    display: flex;
    flex-wrap: wrap;
}

.tabela-fixa {
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 10%;
    width: 100%;
}

.tabela-fixa .linha-table {
    color: white;
    font-size: 22px;
}

.butaoUps {
    position: relative;
    background-color: #2e2650;
    transition: .8s;
}

.senha-active .butaoUps {
    top: 4px;
    left: 0px;
    transition: .8s;
    font-size: xxx-large;
    transform: rotateX(180deg);
}