.container-comanda {
    width: 1530px;
    margin: 5px auto;
}

.totais {
    background: brown;
    padding: 11px;
    border-radius: 7px;
    color: white;
    box-shadow: 1px 1px 6px red;
    height: 34vh;
    text-align: right;
}

.inventario {
    position: absolute;
    right: 6px;
    top: 0;
    background: darkgray;

}

.i-inventario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 833px;
    width: 495px;
    overflow: auto;
    position: relative;
    right: 15px;
    top: 0px;
}

.inventarioOp {
    position: relative;
    right: 6px;
    top: 0;
    background: darkgray;

}

.inventarioOption {
    display: flex;
    border-width: 10px;
    border-style: outset;
    width: 1304px;
    background: darkgray;
    flex-direction: row-reverse;
}

.inventario div button,
.inventarioOption div button {
    margin: 5px;
    font-size: 40px;

    box-shadow: 1px 1px 1px black;
}

.inventario li button {
    height: 75px;
    width: 141px;
}

.inventario ul button {
    margin: 0 9px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px black;
}



.grupo-produto {
    background: brown;
    padding: 5px;
    border-width: 3px;
    position: absolute;
    border-style: none;
    width: 251px;
    top: 2px;
    left: 729px;
    height: 503px;

}


.grupo-produto button {
    margin: 5px 3px;
    width: 118px;
    height: 50px;
}

.GPX0 {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    text-shadow: 0px 0px 1px;

    color: white;
}

.GPX1 {
    background-image: linear-gradient(rgb(30, 255, 0), rgb(41, 248, 0), rgb(114, 253, 0));
    text-shadow: 0px 0px 1px;

    color: black;
}

.GPX50 {
    background-image: linear-gradient(rgb(0, 153, 255), rgb(4, 86, 141), rgb(0, 194, 253));
    text-shadow: 0px 0px 1px;

    color: white;
}

.GPX31 {
    background-image: linear-gradient(rgb(140, 0, 255), rgb(40, 4, 141));
    text-shadow: 0px 0px 1px;

    color: white;
}

.GPX7106 {
    background-image: linear-gradient(rgb(255, 187, 0), rgba(0, 110, 255, 0.486), rgba(86, 16, 216, 0.459), rgb(0, 17, 255), rgba(0, 17, 255, 0));
    font-size: 13px;
}

.GPX10 {
    background-image: linear-gradient(gainsboro, gray, gray, gray, gainsboro);
    background-color: gainsboro;
    text-shadow: 1px 1px 2px black;

    color: rgb(255, 255, 255);
}

.GPX7106 {
    background-color: royalblue;
    color: white;
}

.GPX12 {
    background-image: linear-gradient(goldenrod, gold, goldenrod);
    color: #000;
    text-shadow: 1px 1px 2px;
    box-shadow: 1px 1px 4px black;
}

.GPX13 {
    background-color: #d16309;
    background-image: linear-gradient(#d16309, #d13109, #d16309);
}

.GPX6615 {
    background-color: #073d70;
    background-image: linear-gradient(#073d70, #125594, #073d70);
    color: white;
}

.GPX600 {
    background-color: #2e2650;
    color: white;
}



table {
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    line-height: 15px;

}

table tbody {
    background-color: rgba(126, 113, 113, 0.24);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.titulo-tb td {
    background-color: white;
    color: black;
    font-weight: bold;

}
.server-status-table {
    background: white;
    margin: -16px auto;
    width: 300px;
}

.ndd {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.linhas-tb .idd {
    width: 50px;
    color: white;
    font-weight: bold;
    /* background-color: #221f1d;*/
}

.linhas-tb .ndd {
    /* width: 419px; */
    font-weight: bold;
    font-size: 21px;
    /* background-color: #2e1e1e; */
    text-align: left;
    text-indent: 40px;

}

.A {
    background-color: rgb(216, 104, 29);
}

.B {
    background-color: #3120cf;
}

.C {
    background-color: #b80d0d;
    color: red;
}

.D {
    background-color: rgb(98, 0, 179);
}

.E {
    background-color: #09b9b1;
}

.F {
    background-color: gray;
}

.G {
    background-color: #0383d8;
}

.H {
    background-color: #498b49;
}

.I {
    background-color: black;
}

em {

    position: relative;

}

A,
B,
C,
D,
E,
F,
G,
H,
I {
    text-shadow: 1px 1px 1px black;
}

::-webkit-scrollbar-button {
    background-color: rgb(5, 5, 5);
    /* cor de fundo das setas */
    /* cor das setas */
    height: 0px;
}

/* seta para cima */
ul::-webkit-scrollbar-button:start:decrement {
    content: "▲";
}

/* seta para baixo */
ul::-webkit-scrollbar-button:end:increment {

    content: "▼";
}

ul::-webkit-scrollbar {
    height: 15px;
    width: 45px;
    left: 5px;
    position: relative;
}

ul::-webkit-scrollbar-thumb {
    background-image: linear-gradient(black, black);
    border-radius: 6px;

}

ul::-webkit-scrollbar-track {
    background-image: linear-gradient(rgba(255, 240, 240, 0), rgba(255, 255, 255, 0));
}

ul {
    height: 400px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: red black;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    margin-left: -9px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .151s;
    transition-delay: .151s;
    margin: 0 8px;
    box-shadow: 1px 1px 5px black;
    text-transform: uppercase;
}

button:hover {
    text-shadow: 1px 1px 1px black;
}

.buttonX {
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.controlea {
    position: absolute;
    bottom: 3px;
    background: brown;
    right: 541px;
    height: 318px;
    width: 242px;
    padding: 9px;
}

.controleb {
    position: absolute;
    bottom: -109px;
    background: brown;
    right: 4px;
    height: 108px;
    width: 794px;
    border-width: 2px;
    border-style: double;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    height: 57vh;
}

option {
    padding: 5px;
    font-size: 1.2em;
    background-color: #f2f2f2;
    color: #000;
}

.itemNormal {
    display: flex;
    justify-content: left;
    color: white;
    text-transform: uppercaseobs;
    margin: 5px 0;
}

.obs {
    display: flex;
    justify-content: center;
    color: #0992d1;
    margin: 0 0 15px 0;
    text-transform: capitalize;
}

.itemNormalB {
    color: white;
}

.ReactModal__Content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 33, 33);
    overflow: hidden;

}

.ReactModal__Overlay {
    overflow: hidden;

}

.ReactModal__Content h1 {
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    position: relative;
    left: -150px;

}

.comandar {
    position: relative;
    top: 0px;
    left: 0;
}

.cm-comanda-pn {
    height: 854px;
    width: 730px;
    overflow: auto;
    background: beige;
}

.operadores {
    display: flex;
}

.tabela-fixa {
    position: absolute;
    bottom: -109px;
    left: -2px;
    height: 110px;
    width: 732px;
}

.tabela-fixa .linha-table {
    color: white;
    font-size: 22px;
}

.butaoUps {
    position: relative;
    left: -100px;
    top: -15px;
    background-color: #2e2650;
    transition: .8s;
}

.senha-active .butaoUps {
    top: -15px;
    left: -7px;
    transition: .8s;
    font-size: xxx-large;
    transform: rotateX(180deg);
}
@media only screen and (max-width: 900px) {
    .server-status-table {
        display: none;
    }
}
@media only screen and (max-width: 415px) {
    .comandar {
        position: relative;
        top: -13px;
        left: -21px;
    }

    .cm-comanda-pn {
        height: 138vh;
        width: 381px;
        overflow: auto;
        top: 9px;
        left: 21px;
        position: relative;

    }


    table {
        transform: scale(2.5);
        width: 40%;
    }

    .tabela-fixa {
        left: 67vh;
        bottom: -249vh;
        width: 90vh;
    }

    .menu-itens-catal {
        left: 0px;
        top: 0vh;
        width: 56vh;
        position: relative;
        transform: scale(1);
    }

    .linhas-tb .ndd {

        font-size: 12px;
    }

  
    .inventario {
        top: 43vh;
    }

    .i-inventario {

        height: 349px;
        width: 504px;
        overflow: auto;

        right: 61px;

        top: 77px;
    }
}