.comanda {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: cadetblue;
}

.totais {
    background: brown;
    padding: 11px;
    border-radius: 7px;
    color: white;
    box-shadow: 1px 1px 6px red;
    height: 34vh;
    text-align: right;
}

.minventario {
    width: 814px;
    display: flex;
    flex-direction: row-reverse;
    height: 54vh;
}

.inventario {
    display: flex;
    border-width: 10px;
    border-style: outset;
    width: 539px;
    background: darkgray;
    flex-direction: row-reverse;
}

.inventario div button {
    margin: 5px;
    font-size: 40px;

    box-shadow: 1px 1px 1px black;
}

.inventario ul button {
    margin: 0 9px;
    font-size: 16px;
    text-transform: capitalize;

    box-shadow: 1px 1px 1px black;
}

.itens {
    width: 40%;
    margin-right: 20px;
}

.grupo-produto {
    width: 257px;
    background: brown;
    border-width: 3px;
    position: relative;
    border-style: none;
    margin: -506px 0px 63px 0;
}

.itens .grupo-produto button {
    margin: 5px;
    height: 56px;
    width: 116px;
    font-size: 14px;
    text-indent: -8px;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px black;
}

.itens ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.GPX1 {
    background-color: #d16309;
}

.GPX2 {
    background-color: #0992d1;
}

.GPX10 {
    background-color: gainsboro;
    color: #000;
}

.GPX7106 {
    background-color: royalblue;
    color: white;
}

.GPX12 {
    background-color: goldenrod;
    color: #000;
}

.GPX13 {
    background-color: #d16309;
}

.GPX6615 {
    background-color: #073d70;
    color: white;
}

.GPX9 {
    background-color: #2e2650;
    color: white;
}

.itens ul li button {
    width: 100px;
    height: 87px;
    font-size: 14px;
}

.comandar {
    width: 50%;
    margin-left: 20px;
}

table {
    text-align: center;
    width: 818px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    line-height: 20px;

}

table tbody div {
    /*background-color: black;*/
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.titulo-tb td {
    background-color: white;
    color: black;
    font-weight: bold;

}

.linhas-tb .idd {
    width: 50px;
    color: white;
    font-weight: bold;
    /* background-color: #221f1d;*/
}

.linhas-tb .ndd {
    width: 350px;
    font-weight: bold;
    font-size: 26px;
    /* background-color: #2e1e1e;*/
    text-align: left;
}

.A {
    background-color: rgb(216, 104, 29);
}

.B {
    background-color: #3120cf;
}

.C {
    background-color: #b80d0d;
}

.D {
    background-color: rgb(98, 0, 179);
}

.E {
    background-color: #09b9b1;
}

.F {
    background-color: gray;
}

.G {
    background-color: #0383d8;
}

.H {
    background-color: #498b49;
}

.I {
    background-color: black;
}

em {
    background-color: red;
    padding: 1px 5px;
    border-radius: 50%;
}

A,
B,
C,
D,
E,
F,
G,
H {
    text-shadow: 1px 1px 1px black;
}

ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

ul::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}

ul::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 10px;
}

ul {
    height: 400px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: red black;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    margin-left: -9px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .151s;
    transition-delay: .151s;
}

button:hover {
    text-shadow: 1px 1px 1px black;
}

.buttonX {
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.controles {
    margin-top: 20px;
}

.controle {
    float: left;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    height: 57vh;
}

option {
    padding: 5px;
    font-size: 1.2em;
    background-color: #f2f2f2;
    color: #000;
}

.container-controles-main {
    width: 818px;

}

.itemNormal {
    display: flex;
    justify-content: left;
    color: white;
    text-transform: uppercaseobs;
    margin: 5px 0;
}

.obs {
    display: flex;
    justify-content: center;
    color: #0992d1;
    margin:  0 0 15px 0;
}

.itemNormalB {
    color: white;
}