.frente-loja {
  display: flex;
  flex-direction: column;
  transition: 1.8s;
}

.comandeira-comanda {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 0;

}

/* Estilos para a página de mesas */

.mesas-page {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  width: 100%;
  justify-content: center;
  padding: 0px;
  transition: 1.9s;
}

.mesas-list {
  background-color: #9f9b8d54;
  border-radius: 1px;
  background-image: url(https://dagesico.pythonanywhere.com/static/img/demas/icone.png);
  background-repeat: no-repeat;
  background-position: 50% 93%;
  background-size: 281px;
  /* height: 86vh; */
  /* padding: 20px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*.butaoMenuMesa-hmenu-princopa {
  width: 100px;
  height: 100px;
}*/

.mesas-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.mesas-list ul {
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mesas-list li {
  display: flex;
  font-size: 21px;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 97px;
  margin: 2px;
}

.mesas-list li span {
  margin-right: 10px;
}

.area-mesas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 80vh;
}


.mesa-menu {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px black;
  margin: 3px;

}

.n-mesa-menu {
  position: relative;
  width: 58%;
  left: 2px;
  font-size: 24px;
  border-radius: 15px;
  padding: 3px 3px;

}

.span-mesa-comanda-vlw {
  font-size: 12px;
  position: relative;
  top: 10px;

}

.span-mesa-comanda-vlw h4 {
  position: relative;
  top: 43px;
  background-color: rgba(0, 0, 0, 0.822);
  margin: -1px 0;
  color: white;

}

.senha-area {
  background-color: #932626;
  padding: 0px;
  display: flex;
  width: 100%;
  position: fixed;
  text-align: center;
  box-shadow: 0 0 10px rgb(34 30 30);
  transition: .9s ease-in-out;
  transition-delay: .9s;
  bottom: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 20vh;
}



.senha-area h2 {
  font-size: 18px;
  margin-bottom: -6px;
  position: relative;
  top: -38px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  color: white;
  transition: .8s ease-in-out;
}

.area-digito {
  display: flex;
  flex-wrap: wrap;
  margin: 17px;
  flex-direction: row;
  justify-content: space-between;
}

.area-digito .area-senha {
  display: flex;
  flex-direction: column;
}

.area-senha div {
  display: flex;
  justify-content: space-between;
}

.senha-area input[type=password] {
  padding: 2px;
  font-size: 38px;
  border-radius: 5px;
  width: 159px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px;
  transition-delay: .2s;
  transition: .8s;
}

.senha-area button {
  padding: 10px 20px;
  border-radius: 5px;
  width: 74px;
  height: 74px;
  border: none;
  font-size: 18px;
  color: #fff;
  left: 0px;
  /* background-color: #007bff; */
  cursor: pointer;
}

.senha-area button:first-child,
.senha-area button:last-child {
  background-color: #28a745;
}

.status-mesa-comanda {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}

.button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.operadores button {
  width: 93px;
  margin: 4px;
  height: 57px;

}

.digitos {
  margin-top: 7.5vh;
}

.digitos .g1,
.digitosLogin .g1 {
  width: 400px;
}

.digitosComanda {
  width: 249px;

}

.digitosComanda .g2 button {
  background-color: gray;
  font-size: 38px;
  width: 4vw;
  margin: 2.5px;
  transition-delay: .2s;
  transition: .8s;
}

.digitos .g2,
.digitosLogin .g2 {
  width: 297px;
}

.senha-active .digitos input[type=password] {
  padding: 10px;
  font-size: 38px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 67%;
  margin-bottom: 10px;
  transition-delay: .2s;
  transition: .8s;
}

.senha-active .g1 button {
  background-color: gray;
  height: 30px;
  width: 30px;
  transition-delay: .2s;
  transition: .8s;

}

@keyframes gradiente {
  0% {
    background-color: #008080;
  }


  50% {
    background-color: #28a745;
  }


  100% {
    background-color: #932626;
  }
}

.senha-background {
  animation-name: gradiente;
  animation-duration: 21s;
  animation-fill-mode: forwards;
}

.digitos div button,
.digitosLogin div button {
  background-color: gray;
  font-size: 13px;
  width: 30px;
  height: 30px;
  margin: 4px;
  transition-delay: .2s;
  transition: .2s;
}

.digitos div button:hover {
  background-color: brown;

}

.digitosLogin div button:hover {
  background-color: rgb(0, 0, 0);

}

.button-livre {
  background-color: green;
  color: white;


}

.button-indisponivel {
  background-color: rgb(155, 41, 126);
  color: white;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1209/1209474.png");
  background-size: cover;

}

.button-ocupado {
  background-color: rgb(153, 15, 15);
  background-image: url("https://cdn-icons-png.flaticon.com/512/1209/1209474.png");
  background-size: cover;

  color: white;
}

.button-ocupado h4 {

  border-radius: 10px;
  padding: 5px;

}

.button-pago {
  background-color: rgb(124, 206, 2);
  color: white;
}

.button-limpando {
  background-color: rgb(255, 115, 0);
  color: white;
  background-image: url("https://cdn-icons-png.flaticon.com/512/419/419660.png");

  background-size: cover;
}

.button-pagamento {
  background-color: gold;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1999/1999210.png");
  background-size: cover;
  color: black;
}

.button-fechando {
  background-color: red;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1999/1999210.png");
  background-size: cover;

  color: black;
}

.button-comanda {
  background-color: rgb(255, 187, 1);
  color: white;
  background-image: url("https://cdn-icons-png.flaticon.com/512/5684/5684838.png");
  background-size: cover;
}

.button-defeito {
  background-color: cadetblue;
  background-image: url("https://cdn-icons-png.flaticon.com/512/7479/7479439.png");
  background-size: cover;
  color: black;
}

.button-reserva {
  background-color: goldenrod;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1209/1209474.png");
  background-size: cover;
  color: black;
}

.painel-cozinha {
  display: flex;
}

.opt-pedido {
  margin: 10px;
}

.opt-pedido input[type="radio"] {
  list-style-type: dashed;
}

.opt-pedido label {

  cursor: pointer;
  /* Define o cursor como uma mão quando o mouse estiver sobre o texto */
  position: relative;
  /* Permite a estilização do marcador */
  padding-left: 25px;
  /* Cria um espaço para o marcador */
}

.opt-pedido label:before {
  content: "";
  /* Cria um espaço para o marcador */

  position: absolute;
  /* Permite a estilização do marcador */
  left: 0;
  /* Posiciona o marcador à esquerda do texto */
  top: 2px;
  /* Centraliza o marcador verticalmente */
  width: 17px;
  /* Define a largura do marcador */
  height: 17px;
  /* Define a altura do marcador */
  border: 1px solid #ccc;
  /* Define a borda do marcador */
  border-radius: 50%;
  /* Define o raio da borda do marcador como 50% para criar um círculo */
}

.opt-pedido input[type="radio"]:checked+label:before {
  background-color: #008080;
  /* Muda a cor do fundo do marcador quando estiver selecionado */
  border-color: #008080;
  /* Muda a cor da borda do marcador quando estiver selecionado */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f0f0f030;
  /* cor cinza */
}

::-webkit-scrollbar-thumb {
  background-color: #0000006b;
  border-radius: 1px;
}

.vertical {
  /* writing-mode: vertical-rl;*/
  background: cornsilk;
}

.vertical thead th {
  text-transform: capitalize;
  font-size: 18px;
}

.vertical tr {
  height: 8vh;
}

.custom-alert {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 43%);
  z-index: 999;
  transition: .8s;
}


.notification-container {
  display: block;
  position: fixed;
  top: -47px;
  right: 0px;
  background-color: #eee3e30d;
  padding: 10px 5px;
  border-bottom-left-radius: 17px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 0vh;
  overflow-y: auto;
  z-index: 999;
  width: 305px;
  transition: .9s ease-in-out;

}

.ntconter-activate {
  transition: .9s ease-in-out;
  top: 0px;
  max-height: 10vh;
}

.ntconter-dritive {
  transition: .9s ease-in-out;
  top: 0px;
  max-height: 85vh;

}

.notification-text-datahora {
  background-color: #00000082;
  color: white;
  margin: 10px auto;
  width: 35%;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px;
  font-size: 10px;
}

.notification-item {
  margin: 8px;
}

.notification-group {
  background-color: #b1b0b017;
  margin: 11px auto;
  padding: 12px 14px;
  color: #000000;
  transition: .9s ease-in-out;
}

.notification-group:hover {
  background-color: black;
  border-radius: 4px;
  box-shadow: 1px 1px;
}

.notification-text {
  transition: .9s ease-in-out;
  margin: 0;
  background: #00000082;
  box-shadow: 1px 1px;
  color: aliceblue;
  margin: -11px 0;
  padding: 10px;
  border-top-left-radius: 10px;
}

.notification-item {
  transition: .9s ease-in-out;
  margin: 0;
  text-align: center;
}

.notification-list {
  width: 360px;
  position: absolute;
  right: 1.5px;
  z-index: 999;
  top: 1px;
  overflow-y: visible;
  transition: .9s ease-in-out;

}

.notification-icon {
  position: fixed;
  bottom: 1.2vh;
  right: 0.5vw;
  width: 45px;
  height: 45px;
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 995;
  opacity: 0.052;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition: right 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;


}

.notification-icon:hover,
.notification-icon:active {
  /* Adiciona a animação de rotação */
  /*animation: rotateAnimation 2s infinite;*/
  width: 50px;
  height: 50px;
  opacity: 0.8;

}

.nova-notification {

  animation: rotateAnimation 1.4s ease-in-out;


  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.notification-icon.inactive {
  animation: rotateAnimation 1.4s infinite;
  width: 75px;
  height: 75px;
  opacity: 0.8;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(5deg);
  }


  20% {
    transform: rotate(-35deg);
  }

  40% {
    transform: rotate(35deg);
  }

  60% {
    transform: rotate(-45deg);
  }

  80% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.notification-icon i {
  font-size: 20px;
  color: #000000;
}


.false {
  display: none;
}

.relatorios-container {
  overflow-y: visible;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.painel-container {
  width: 35%;
  text-transform: capitalize;
}

.painel-container input {
  width: 280px;
}

.botoes-container {
  position: fixed;
  width: 10%;
  background-color: white;
  width: 142px;
  height: 95vh;
  top: 45px;

}

.botoes-container button {
  margin: 5px;
  width: 130px;
  height: 48px;
  background-color: #008080;
  border-radius: 2px;
}

.painel-dados {
  width: 35%;
  font-size: 13px;
  text-transform: capitalize;

}

.pnconfg-table-td {
  background-color: gray;
  font-weight: 800;
  text-transform: uppercase;
}

.pnconfg-table-th {
  z-index: 999;
  background-color: black;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  height: 37px;
  padding: 0 15px;
}

.painel-dados table {
  height: 40vh;
}

.relatorios-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
  background-color: #008080;
  width: 100%;
  text-align: center;
}

.relatorios-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.relatorios-container table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: #932626;
}


.relatorios-container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background-color: white;
  text-align: center;
}

.relatorios-container table th {
  font-weight: bold;
  font-size: 25px;
}

.relatorios-container td:hover {
  background-color: brown;
}

.menu-painel {
  transform: rotateX(0deg);
  font-size: xx-large;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  transition: transform 0.5s ease;
  /* Adicione uma transição de 0.5 segundos com uma função de easing suave */

}

.rotate-painel-btn {
  transform: rotateX(180deg);
  transition: transform 0.5s ease;
  /* Adicione uma transição de 0.5 segundos com uma função de easing suave */

}

.img-painel-perfil {
  width: 35px;
  height: 35px;
  border-radius: 70%;
  box-shadow: 0px 1px 6px 3px;
}


@keyframes fundo {
  0% {
    background-color: rgb(0 0 0 / 43%);
  }

  50% {
    background-color: rgb(0 0 0 / 88%);
  }

  100% {
    background-color: rgb(0 0 0 / 43%);
  }
}

/* Definindo a animação */
@keyframes fade {
  from {
    background-color: #05050556;
  }

  to {
    background-color: #fbff003b;
  }
}

/* Aplicando a animação a div com a classe "fade-in" */
.fade-in {
  animation-name: fade;
  animation-duration: 22s;
  animation-fill-mode: forwards;
  /* Faz a animação manter o estado final após a conclusão */
  animation-delay: 0.5s;
  /* Atrasando a animação por 0.5 segundos */
  animation-iteration-count: 1;
  /* Executando a animação apenas uma vez */
}

.message {
  background-color: brown;

width: 280px;
  padding: 20px;
  border-radius: 10px;
  border-style: double;
  border-width: 8px;
  animation-name: shadow;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 5px 4px 8px black, -5px -4px 8px black;
  }

  50% {
    box-shadow: 3px 8px 16px #ff8801ed, -3px -8px 16px #ff8801ed;
  }

  100% {
    box-shadow: 5px 4px 8px black, -5px -4px 8px black;
  }
}

.message h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.message p {
  font-size: 17px;
  background: black;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 2px 3px 2px #502c0f;
  color: white;
}

.close-button {

  top: 572px;
  /* right: 10px; */
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  background: brown;
  transition: .8s;
  height: 85px;
  width: 120px;
}

.painel-alerta-botoes {

  top: 268px;

}

.div-cont-dados {
  background-color: grey;
  width: 451px;
  padding: 15px;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.cadastro-produtos-vc {
  display: flex;
  justify-content: space-between;
}

.cadastro-produtos-vc div {
  width: 35%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label {
  margin-left: 5px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.checkbox-input {
  margin-right: 5px;
  cursor: pointer;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-label {
  margin-left: 5px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.radio-input {
  margin-right: 5px;
  cursor: pointer;
}

.selected {
  background-color: rgba(255, 255, 255, 0.374);
  transition: .9s ease-in-out;
}

.selectedn {
  background-color: rgb(0, 0, 0);
  transition: .9s ease-in-out;
}

.pagament-class-pg-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.digitos .g1s button {
  width: 125px;
}

@media only screen and (max-width: 1570px) {
  .comandeira-comanda {
    flex-direction: row;
    height: 100vh;
  }

  .mesas-list {
    width: 926px;
    height: 100vh;

  }

  .senha-active .g1 button {

    width: 96px;
  }

  .controlea .digitos {
    position: relative;

  }

  .mesas-list ul {
    margin: 0 14px;
  }

  .mesas-page {
    height: 98.8vh;
  }

  .area-mesas {

    height: 93.5vh;
  }

  .digitosLogin {
    margin-top: 19vh;
    margin-bottom: 4vh;
    top: -5px;
    position: relative;
  }

  .mesas-list {
    width: auto;
  }

  .senha-area {
    bottom: -750px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .status-mesa-comanda {
    width: auto;
  }

  .senha-area .butaoUps {
    transform: block;
  }

  .digitosLogin .g1 {
    width: 335px;
  }



  .digitos div button {
    font-size: 13px;
    width: 93px;

    text-align: left;
  }

  .digitosLogin div button {

    width: 85px;

  }

  .digitosLogin input {
    width: 258px;
  }

  .status-mesa-comanda {
    top: 6px;
  }

  th em {
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1024px) {
  .senha-area {
    bottom: -700px;
  }

  .digitos,
  .digitosLogin {
    margin-top: 3vh;
  }

  .senha-area h2 {
    font-size: 21px;
    padding: 2px 0;

  }

  .digitos,
  .digitosLogin {
    margin-top: 28vh;
  }

  .senha-area button {
    top: 0px;
    height: 50px;
    left: 1px;

  }

  .inventario {
    bottom: 0px;
  }

  .i-inventario {
    display: flex;
    flex-wrap: wrap;
    height: 32vh;
    width: 54.5vw;
    overflow: auto;
    position: relative;
    left: 0;
    top: 0px;
  }

  .obs-produtos-inventario {
    position: absolute;
  }

  .inventario li button {
    height: 35px;
    width: 65px;
    font-size: 8px;
    text-align: left;
  }

  .operadores button {
    width: 63px;
    margin: 4px;
    height: 35px;
  }

  .grupo-produto {
    background: brown;
    padding: 5px;
    border-width: 3px;
    position: absolute;
    border-style: none;
    width: 63vw;
    top: 35vh;
    left: 34.5vw;
    max-height: 31vh;
    overflow-y: scroll;
  }

  .cm-comanda-pn {
    height: 67vh;
    width: 54vw;
    overflow: auto;
    background: beige;
  }

  .linhas-tb .ndd {

    font-size: 7px;
  }
}

@media only screen and (max-width: 912px) {
  .senha-area {
    bottom: -490px;
  }

  .digitos,
  .digitosLogin {
    margin-top: 3vh;
  }

}

@media only screen and (max-width: 820px) {

  .digitos,
  .digitosLogin {
    margin-top: 3vh;
  }
}

@media only screen and (max-width: 768px) {
  /* Inclua aqui as regras de estilo para dispositivos móveis */

  .senha-area button {
    top: -16px;
    height: 50px;
    left: 1px;
  }

  .senha-area {
    bottom: -770px;
  }

  .digitos,
  .digitosLogin {
    margin-top: 39vh;
    margin-left: -32px;
  }

  .senha-active .butaoUps {
    top: -19px;
    right: 1px;
    height: 75px;
  }

  .senha-area h2 {
    font-size: 16px;
    margin-bottom: -8px;
  }

  .status-mesa-comanda {

    top: 33px;

  }
}

@media only screen and (max-width: 541px) {

  .senha-area {
    bottom: -500px;
  }

  .senha-area .senha-active {
    top: -112px;
    right: 2px;
    z-index: 999;
  }

  .senha-area button {
    top: -30px;
    height: 37px;
    left: 1px;
  }

  .digitos,
  .digitosLogin {
    margin-top: 10vh;
  }

  .container-comanda {
    font-size: 10px;
  }

  .operadores button {
    width: 63px;
    margin: 4px;
    height: 35px;
  }



}